.CabinetPage_grid {
    display:flex;

    .CabinetPage_container {
        background: #F4F4F4;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 65px;
        padding-top:65px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    background: #1B2034;
    min-width: 25%;
    width: fit-content;
    padding-top: 75px;
    padding-left: 100px;
    padding-right:60px;
    gap:25px;

    .menu_link {
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
